*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#212121;
    letter-spacing: 0.03em;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
}

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link{
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.menu{
    border-bottom: 1px solid #ECECEC;
}

.menu_div{
    display: flex;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: #2196F3;
}

.logo_header{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.menu_nav{
    display: flex;
    gap: 344px;
}

.menu_items{
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu_items .menu_item{
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
}

.contacto_items{
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacto_items .contacto_item{
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
}

.link:hover {
    color: #2196F3;
}

.menu_items .current{
    color: #2196F3;
}

.titulo {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.titulo_div{
    text-align: center;
}

.titulo_text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.btn_titulo{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 32px;
}

.cualidad{
    padding: 94px 0;
}

.cualidad_items{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.cualidad_items .cualidad_item_titulo{
    font-weight: 700;
    line-height: 1.17;
    width: 270px;
    margin-bottom: 10px;
}

.cualidad_items .cualidad_item_texto{
    line-height: 1.71;
    color: #757575;
    width: 270px;
    margin: 0;
}

.dedicamos{
    display: flex;
    padding: 94px 0;
    flex-direction: column;
}

.dedicamos_titulo,
.equipo_titulo{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.dedicamos_items{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.equipo{
    display: flex;
    padding: 94px 0;
    flex-direction: column;
    background-color: #F5F4FA;
}

.equipo_items{
    display: flex;
    justify-content: space-between;
}

.equipo_items > li{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.equipo_div{
    padding: 30px 44px 30px 45px;
}

.equipo_items .equipo_item_titulo{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 10px;
}

.equipo_items .equipo_item_texto{
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
    margin: 0;
}

.base{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.base_items .base_item_mapa{
    font-style: normal; /* etiqueta address usa style italic*/
    line-height: 1.71;
    color: #FFFFFF;
}

.base_items .base_item_mail, .base_items .base_item_tel{
    font-style: normal; /* etiqueta address usa style italic*/
    line-height: 1.71;
    color: #FFFFFF99;
}

.portafolio{
    padding-top: 106px;
    padding-bottom: 82px;
}

.filtro_items{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filtro_items .filtro_item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 6px 18px 6px 17px;
}

.filtro_item:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

.listado_items{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
}

.listado_item{
    flex-basis: calc((100% - 60px) / 3);
    background: #FFF;
    border: 1px #EEE;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.listado_div {
    padding: 20px 24px;
}

.listado_items .listado_item_titulo{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.listado_items .listado_item_texto{
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
    margin: 0;
}
